/* ==UserStyle==
@name           RentalWorks Web Custom Styles
@namespace      https://www.github.com/acropup/RentalQuirks/
@version        0.1.6
@description    For RentalWorks Web, these style customizations improve the look and feel of rentalworksweb.com. These can be used alongside or without the RentalQuirks JavaScript and CSS package.
@author         Shane Burgess
@preprocessor   less

@var checkbox SelectableUI "Make UI selectable" 0
@var checkbox HamburgerMenu "Fix hamburger menu icons" 0
@var checkbox HideSettings "Hide unused modules in Settings" 0
==/UserStyle== */

/* Recommend using Stylus browser extension to host CSS UserStyles
   https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne
*/

@-moz-document regexp("https?://(web\\d\\d)?\\.dbwcloud\\.com/[^/]+/rentalworks/.*"), regexp("https?://[^.]+\\.rentalworksweb\\.com/.*") {
   /* Put names of icons under pinned main menu */
   #fw-app-menu:not(.active) > .app-menu-tray > .menu-lv1object::after {
      content: attr(data-category);
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      font-size: 9px;
   }
   #fw-app-menu:not(.active) > .app-menu-tray > .menu-lv1object[data-category="Administrator"]::after {
      content: "Admin";
   }
   /* Colour these two top menu items differently, because they go straight to a module rather than opening a menu of options */
   #fw-app-menu > .app-menu-tray > .menu-lv1object[data-category="Settings"],
   #fw-app-menu > .app-menu-tray > .menu-lv1object[data-category="Reports"] {
     background-color: #008dff;
   }
  
  
   /* Reduce the amount of space the main header takes up*/
   #fw-app {
     --header-hight: 29px;
   }
   #fw-app #fw-app-menu {
     top: 44px;
   }
   #fw-app #fw-app-header .header-wrapper {
      border: none;
   }
   #fw-app #fw-app-header .app-title {
      padding-bottom:7px;
   }
   html.theme-material div.dashboard-btn-row {
      margin-top: 20px;
   }

   /* Make tab headers double-lined to show more description */
   html.theme-material .fwtabs[data-version="1"]>.tabs .tab .caption {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: normal;
      text-overflow: ellipsis;
      line-height: 1.1em;
      text-align: center;
      font-weight: 500;
   }
   
   & when (@SelectableUI = 1) {
      /* Make text selectable in the UI like in most webpages */
      html {
         -webkit-user-select: text;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: text;
      }
   }
  
   & when (@HamburgerMenu = 1) {
     /* Give hamburger menus a true hamburger icon */
     .submenubutton .icon i.material-icons {
       text-indent: 100%;
       overflow: hidden;
       white-space: nowrap;
     }
     .submenubutton .icon i.material-icons:before {
       display: fixed;
       font-size: em;
       margin-left: -1em;
       content: "\ea61";
     }
   }
  
  /* Allow popups to take up more vertical area on the page */
  .fwpopup .fwform[data-popupform="true"] {
    height: 85vh !important;
    outline: red 3px solid;
  }
   
   div[data-controller="InvoiceController"] > .fwform-body .tabpage.active[id^="gldistributiontabpage"] div[data-grid="GlDistributionGrid"] tbody:empty::after {
      content: "For invoices that are not yet processed, this table remains empty. If you'd like to preview the table, click 'Preview G/L Distribution' from within the table menu.";
      background: peachpuff;
      width: 70%;
      margin: 2em 0;
      padding: .7em 1em;
      position: absolute;
      left: calc(15% - 1em);
   }
}

@-moz-document regexp("https?://(web\\d\\d)?\\.dbwcloud\\.com/[^/]+/rentalworks/#/module/settings"), regexp("https?://[^.]+\\.rentalworksweb\\.com/(training/)?#/module/settings") {
   /* The following is only for the Settings module */
   
   /* Highlight the sections in Settings that I'm always looking for */
   #btnModuleSettings\.InventorySettings,
   #RentalCategory .panel-heading {
      outline: 3px orange dashed;
   }
   
   /* Hide the modules in Settings that our company doesn't use */
   [data-navigation="Event"],
   [data-navigation="Facility"],
   [data-navigation="Generator"],
   [data-navigation="Props"],
   [data-navigation="Set"],
   [data-navigation="Vehicle"],
   [data-navigation="Wardrobe"] {
     & when (@HideSettings = 1) {
       display: none !important;
     }
     &, .panel-heading {
       background-color: rosybrown !important;
     }
   }
}