/* ==UserStyle==
@name           RentalQuirks Custom Styles - For use with RentalQuirks.user.js
@namespace      https://www.github.com/acropup/RentalQuirks/
@version        0.1.3
@description    For RentalWorks Web at rentalworksweb.com, these CSS customizations are complementary to the RentalQuirks UserScripts.
@preprocessor   less
@author         Shane Burgess
==/UserStyle== */

/* Recommend using Stylus browser extension to host CSS UserStyles
   https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne

   Also, use Tampermonkey (Chrome) or Greasemonkey (Firefox) to run the PoRPoise UserScripts.
*/

@-moz-document regexp("https?://(web\\d\\d)?\\.dbwcloud\\.com/[^/]+/rentalworks/.*"), regexp("https?://[^.]+\\.rentalworksweb\\.com/.*") {
   /* Example URL to match: https://betterway.rentalworksweb.com/#/module/rentalinventory
      Old address to match: http://web02.dbwcloud.com/<companyname>/rentalworks/#/module/rentalinventory */
   
   .app-title .rwpurple {
      position: relative;
   }
   .app-title .rwpurple::after {
      content: "Qui";
      color: darkorange;
      font-size: .8em;
      transform: rotate(-7deg);
      position: absolute;
      left: .1em;
      top: .15em;
      height: 1em;

      background-color: #ffb;
      box-shadow: 0.5px 1px 2px 0px #00000080;
   }

   /* rwver should be filled by Javascript if Tampermonkey loads it properly */
   .app-title .bgothm[data-rwver]::before {
      content: "RW " attr(data-rwver);
      position: absolute;
      top: 33px;
      font-size: 0.74rem;
      left: 50px;
      color: darkorange;
   }

   /* RentalQuirks general */
   .btn.rquirks {
      box-shadow: inset rgb(255 150 0 / 80%) 0px 0px 3px 3px;
   }

   /* Copy Paste field selection */
   .btn.rquirks.working i.material-icons {
      animation: wiggle 0.8s infinite linear;
   }
   @keyframes wiggle {
      0% { transform: rotate(9deg); } 
      10% { transform: rotate(-8deg); } 
      20% { transform: rotate(7deg); } 
      30% { transform: rotate(-6deg); } 
      40% { transform: rotate(5deg); } 
      50% { transform: rotate(-4deg); } 
      60% { transform: rotate(5deg); } 
      70% { transform: rotate(-6deg); } 
      80% { transform: rotate(7deg); } 
      90% { transform: rotate(-8deg); } 
      100% { transform: rotate(9deg); } 
   } 
   .rqselected input,
   .rqselected textarea,
   .rqselected label.checkbox-caption,
   .rqselected[data-type="radio"],
   .rqselected[data-type="togglebuttons"] .fwformfield-control .togglebutton-item {
      background-color: skyblue !important;
      transition: all .3s;
      /* TODO: checkboxes, radio, and toggle buttons fade in but not out */
   }
   html.theme-material .fwmenu.grid .buttonbar .btn {
      margin: 0 0 0 2px;
   }


/* Reduce the amount of space the main header takes up
   #fw-app {
      --header-hight: 29px;
   }
   #fw-app #fw-app-header .header-wrapper {
      border: none;
   }
   #fw-app #fw-app-header .system-update-container {
      display: none;
   }
   */

   #fw-app #fw-app-header .app-usercontrols .titlecasebutton,
   #fw-app #fw-app-header .app-usercontrols .barcodebutton {
      display: flex;
      align-items: center;
      cursor: pointer;
   }
   #fw-app #fw-app-header .app-usercontrols .titlecasebutton > i {
      padding: 6px;
   }
   #fw-app #fw-app-header .app-usercontrols .titlecasebutton:hover,
   #fw-app #fw-app-header .app-usercontrols .barcodebutton:hover {
      background-color: rgb(255 180 0 / 70%);
   }
  
  
   #fw-app #fw-app-header .app-usercontrols .barcodebutton {
      position: relative;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   #fw-app #fw-app-header .app-usercontrols .barcodebutton svg {
      width: 20px;
      fill: #212121;
      border: 1px #212121 solid;
      padding: 3px;
      border-radius: 4px;
   }
   #fw-app #fw-app-header .app-usercontrols .barcodebutton[data-queue-count]:not([data-queue-count=""])::after {
	    content: attr(data-queue-count);
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 8px;
      padding: 0px 4px 1px 4px;
      background-color: rgb(255 180 0);
      outline: 1px #212121 solid;
      font-size: 9px;
      font-weight: bold;
   }
  .fwbrowse {
      outline: 5px #2d2fb1 solid;
    
  }
  /*[data-rqoutline="1"] {
      outline: 5px red solid;
    
  }
  [data-control="FwBrowse"]:not([data-rqoutline="1"]) {
      outline: 5px purple solid;
    
  }*/
   /* Making the sorting handles visible seems to prevent you from selecting a row to edit it... too bad.
   td.manual-sort {
       display: table-cell !important;
   }
   */

   /* Make tab headers double-lined to show more description */
   html.theme-material .fwtabs[data-version="1"]>.tabs .tab .caption {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: normal;
      text-overflow: ellipsis;
      line-height: 1.1em;
      text-align: center;
      font-weight: 500;
   }
  
  /* Barcode UI, piggybacking on RentalWorks' fwpopup styling, but not blocking interaction elsewhere on the page. */
  #rq-barcode.fwpopup {
    background-color: unset;
    top: 4em;
    bottom: unset;
    left: unset;
    right: 1.2em;
    width: unset;
    height: unset;
    z-index: 2;
    
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  #rq-barcode .fwpopupbox {
    width: 485px;
  }
  #rq-barcode .flexcolumn {
    flex: 1 0 240px;
  }
  #rq-barcode.hidden {
      animation-name: fadeOut;
  }
  @keyframes fadeIn { 0% { opacity: 0; transform: scale(0.9); visibility: hidden; } 100% { opacity: 1; transform: scale(1); visibility: visible; }}
  @keyframes fadeOut { 0% { opacity: 1; transform: scale(1); visibility: visible; } 100% { opacity: 0; transform: scale(0.9); visibility: hidden; }} 
  #barcode-log .fwform-section-body {
    max-height: 30em;
    overflow-y: scroll;
  }
  #barcode-log .logentry {
    font: .8em/.9em monospace;
    padding: .25em 0;
  }
  #barcode-log .logentry.warning {
    font-style: italic;
    background-color: #ffd;
  }
  #barcode-log .logentry.error {
    background-color: #fcc;
  }
  #barcode-log .logentry:before {
    text-align: center;
    display: inline-block;
    width: 1em;
    font-size: 1.2em;
  }
  #barcode-log .logentry.warning:before {
    content: "!";
    color: orange;
    font-style: initial;
  }
  #barcode-log .logentry.error:before {
    content: "X";
    color: red;
  }
  .rq-draghandle {
    cursor: grab;
  }
}